@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@200&display=swap');

.success{
    border-color: green;
    background: rgb(188, 230, 188);
    color:black;
    border: 1px solid rgba(254, 254, 254,.3);
    border-radius: 5px;
    padding: 0 8px;
    margin-top: 10px;
    font: "Quicksand";
}

.fail{
    border-color:rgb(224, 186, 186);
    background-color: rgb(224, 186, 186);
    color:black;
    border: 1px solid rgba(254, 254, 254,.3);
    border-radius: 5px;
    padding: 0 8px;
    margin-top: 10px;
    font-family: "Quicksand";
}

.input{
    background-color: transparent;
    height: 30px;
    border: 1px solid rgba(44,62,80);
    border-radius: 5px;
    padding: 0 8px;
    box-shadow: 0 0 25px 0 rgba(0,0,0,.05);
    color:white;
}

.input:hover{
    border-color: #fff;

}

body{
    background-color: rgba(44,62,80,.8);

}

h1{
    color: #fff;
    font-family: "Raleway";
}

button{
    background: transparent;
    border-radius: 5px;
    width: 50%;
    border: 1px solid rgba(254, 254, 254,.3);
    padding: 10px;
    margin-top: 10px;
    color:white;
}

.submitBtn:hover{
    background: rgba(255,255,255, 0.3);

}

label{
    color: #fff;
    font-family: "Quicksand";
}

link{
    text-decoration: none;
    color: #fff;
    font-family: "Quicksand";
}

link:hover{

    text-decoration: none;
    color: #958E8E;
    font-family: "Quicksand";

}