@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@200&display=swap')

.selectVisible{
    visibility: visible;
    padding-left: 5rem;
}

.hideSelect{
    visibility: hidden;
}

.trueRole{
    background: #732bc4;
    border-radius: 4px;
    border: none;
    margin: 1em;
    white-space: nowrap;

}

.falseRole{
    background: #beabd4;
    border-radius: 4px;
    border: none;
    margin: 1em;
    width: 50%;
    padding: 10px;
    white-space: nowrap;
}

.changeRole{
    background: #9E9999;
    border: none;
    border-radius: 3px;
    color: black;
    margin: 1em;
    text-decoration: none;
    box-shadow: antiquewhite;
    padding: 10px;
    height: 20%;
    white-space: nowrap;
    font: "Quicksand";
}

.success{
    border-color: green;
    background: green;
    color: black;
}

.fail{
    border-color:red;
    background-color: red;
    color:black;
}