@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@200&display=swap');

.selectVisible{
    visibility: visible;
    padding-left: 5rem;
}

.hideSelect{
    visibility: hidden;
}

.trueRole{
    background: #732bc4;
    border-radius: 4px;
    border: none;
    margin: 1em;
    white-space: nowrap;

}

p{
    font-family: 'Quicksand';
    color: rgb(223, 221, 240);
}

.falseRole{
    background: #beabd4;
    border-radius: 4px;
    border: none;
    margin: 1em;
    width: 50%;
    padding: 5px;
    white-space: nowrap;
    font-family: 'Quicksand';
    font-weight: 300;
    color: white;
}

Link{
    text-decoration: none;
}

a{
    text-decoration: none;
}

.changeRole{
    background: transparent;
    border-radius: 5px;
    color: black;
    margin: 1em;
    text-decoration: none;
    box-shadow: antiquewhite;
    padding: 10px;
    height: 20%;
    white-space: nowrap;
    font-family: 'Quicksand';
    border: 1px solid rgba(254, 254, 254,.3);
}

.changeRole:hover{
    background: rgba(255,255,255, 0.3);
    text-decoration: none;
    color: white;
}


.success{
    border-color: green;
    background: green;
    color: black;
}

.fail{
    border-color:red;
    background-color: red;
    color:black;
}